<h1>ADD MEAL</h1>

<form method="post" id="login-form" action="/addmeal">
    <label class = "enter" for= "item">Item:</label>
    <input id="item" class="inputbox" type="text" name="item" placeholder="Enter input here"><br>
    <label class = "enter" for= "calorie">Calorie:</label>
    <input id="calorie" class="inputbox" type="number" name="calorie" placeholder="Enter input here"><br>
     <br>
     <label class = "enter" for= "quantity">Quantity:</label>
    <input id="quantity" class="inputbox" type="number" name="quantity" placeholder="Enter input here"><br> 
   <br>
    <button id="subButton" class="subButton" type="submit">Submit</button>
</form>

<br>
<a href="/preadded"><button class="btn">Preadded</button></a>